*{
    background-color: antiquewhite;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    background-color: rgb(205, 202, 197);
}

table{
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;

}
tr{
    height: 50px;
    background-color: rgb(205, 202, 197);
    border-color:  rgb(205, 202, 197);
}
td{
    width:300px;
    background-color: rgb(205, 202, 197);
    border-color:  rgb(205, 202, 197);
}

a{
  text-decoration: none; 
  color:rgb(0, 0, 0); 
  background-color: rgb(205, 202, 197) ;
}

a:visited{
    color:rgb(64, 59, 59);
}

button{
    background-color:rgb(205, 202, 197) ;
}

p{
    text-align: center;
}

div{
    border: solid black 2px;
    background-color: rgb(205, 202, 197);
}

.tur{
    background-color: rgb(205, 202, 197);
}

input{
    background-color: aliceblue;
}

form{
    background-color: rgb(205, 202, 197)
}